@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right top,
     #d16ba5, #c777b9, #ba83ca, #aa8fd8,
      #9a9ae1, #8aa7ec, #79b3f4, #69bff8, 
      #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.box {
    background: #fff;
    padding: 15px 40px;
    box-shadow:  15px 15px rgba(0,0,0,0.1);
}

.box h3 {
    position: relative;
    font-size: 1.25em;
    color: #000;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 5px;
}

.box #form {
    position: relative;
}

.box #form #email,#password {
    width: 400px;
    outline: none;
    border: none;
    border-bottom: 2px solid #333;
    color: #333;
    font-weight: 500;
    font-size: 1.2em;
    padding: 10px 0;
    letter-spacing: 0.1em;
}

.box .inputBox {
    position: relative;   
}

#text {
    display: block;
    color: #999;
    font-weight: 500;
    padding: 5px 0;
}

.box #form.invalid .inputBox::before {
    content: "";
    position: absolute;
    right: 0;
    top: 12px;
    width: 24px;
    background: url(invalid.png);
    background-size: cover;
}

.box i {
    margin-left: -30px;
    cursor: pointer;
    font-size: 20px;
}


